@model IEnumerable<KursActWeb.EmailServices.Distribution>

<table class="table table-bordered">
    <thead>
        <tr class="thead-dark">
            <th>Имя рассылки</th>
            <th>Последняя отправка</th>
            <th>Содержание</th>
            <th>Режим отправки</th>
            <th>Кому (Список адресов)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dist in Model)
        {
            <tr>
                <td>
                    @dist.Name <br/>
                    <i class="fas fa-trash-alt fa-2x text-danger m-2" data-toggle="tooltip" data-placement="top" title="Удалить рассылку" style="cursor: pointer;" onclick="DeleteEmailDistribution('@dist.Name')"></i>
                    <i class="fas fa-sign-out-alt fa-2x text-primary m-2" data-toggle="tooltip" data-placement="top" title="Отправить письма" style="cursor: pointer;" onclick="SendEmail('@dist.Name')"></i>
                </td>
                <td>@dist.LastSendDate</td>
                <td>@dist.ContentTypeName <br/> <i class="fas fa-edit fa-2x text-info m-2" style="cursor: pointer;" onclick="ChangeContentType('@dist.Name')"></i> </td>
                <td>@dist.SendTimeModeName <br/> <i class="fas fa-edit fa-2x text-info m-2" style="cursor: pointer;" onclick="ChangeSendTimeMode('@dist.Name')"></i> </td>
                <td>
                    @foreach (var email in dist.EMailList)
                    {
                        <i class="fas fa-trash-alt text-danger mr-2" data-toggle="tooltip" data-placement="top" title="Удалить '@email' из рассылки" style="cursor: pointer;" onclick="DeleteEmail('@dist.Name', '@email')"></i> @email <br />
                    }
                    <i class="fas fa-address-card fa-2x text-success mr-2" data-toggle="tooltip" data-placement="top" title="Добавить Email к рассылке" onclick="AddEmail('@dist.Name')" style="cursor: pointer;"></i>
                </td>
            </tr>
        }
        <tr>
            <td><i class="fas fa-calendar-plus fa-2x text-success m-2" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Создать новую рассылку" onclick="AddEmailDistribution()"></i></td>
        </tr>
    </tbody>
</table>

<script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
</script>