@model IEnumerable<KursActWeb.ViewModels.RegPointRowViewModel>

@if (Model.Any())
{
    <div class="panel">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Адрес объекта</th>
                    <th scope="col">Место установки</th>
                    <th scope="col">Тип ПУ</th>
                    <th scope="col">Заводской №</th>
                    <th scope="col">Номер тел.</th>
                    @if (User.IsInRole("pnr") || User.IsInRole("administrator"))
                    {
                        <th scope="col"></th>}
                    @if (User.IsInRole("ascuemaster") || User.IsInRole("administrator"))
                    {
                        <th scope="col"></th>}
                    @if (User.IsInRole("pnr") || User.IsInRole("administrator"))
                    {
                        <th scope="col"></th>}
                </tr>
            </thead>
            <tbody>
                @{
                    int n = 0;
                    foreach (var item in Model)
                    {
                        n++;
                <tr>
                    <th scope="row"><a href="/RegPoint/Edit?id=@item.Id">@n</a></th>
                    <td>@item.Address</td>
                    <td>@item.InstallPlace</td>
                    <td>@item.TypePU</td>
                    <td>@item.SerialNum</td>
                    <td>@item.PhoneNum</td>
                    @if (User.IsInRole("pnr") || User.IsInRole("administrator"))
                    {
                        <td>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Связь с ПУ'">
                                <i onclick="Switch_LinkOk(@item.Id)" class="fab fa-gg-circle fa-2x" style="color:@item.IsLinkOkColor; cursor: pointer;" id="IsLinkOk_@item.Id"></i>
                            </div>
                        </td>
                    }
                    @if (User.IsInRole("ascuemaster") || User.IsInRole("administrator"))
                    {
                    }
                    @if (User.IsInRole("pnr") || User.IsInRole("administrator"))
                    {
                        <td>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Добавлено в ПО АСКУЭ'">
                                <i onclick="Switch_AscueChecked(@item.Id)" class="fas fa-plus-circle fa-2x" style="color:@item.IsAscueCheckedColor; cursor: pointer;" id="IsAscueChecked_@item.Id"></i>
                            </div>
                        </td>
                        <td>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Работает в ПО АСКУЭ'">
                                <i onclick="Switch_AscueOk(@item.Id)" class="fas fa-check-circle fa-2x" style="color:@item.IsAscueOkColor; cursor: pointer;" id="IsAscueOk_@item.Id"></i>
                            </div>
                        </td>
                        <td>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Замена ПУ'">
                                <i onclick="Switch_ReplaceOk(@item.Id)" class="fas fa-times-circle fa-2x" style="color:@item.IsReplaceColor; cursor: pointer;" id="IsReplace_@item.Id"></i>
                            </div>
                        </td>
                    }
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}