@page "{id}"
@model KursActWeb.Pages.RegionModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Шапка *@
<div class="card-body bg-light shadow rounded mb-3">
    <!-- Navigate -->
    <a href="/ContractPage/@Model.ContractId" class="btn text-dark zoom" data-toggle="tooltip" data-placement="top" title="Контракт">
        <i class="fas fa-globe-europe"></i> @Model.ContractName
    </a>
    <i class="fas fa-angle-right mt-1"></i>
    <a href="#" class="btn text-muted" data-toggle="tooltip" data-placement="top" title="Выбранный район">
        <i class="fas fa-map-marked-alt"></i> @Model.Name
    </a>
    <!-- Title -->
    <h4 class="card-title display-3 text-dark"><i class="fas fa-map-marked-alt"></i> @Model.Name</h4>
    <div class="card-text p-3">@Model.Description</div>
    <!-- Progress -->
    <div class="progress md-progress" style=" height: 20px;" id="progr">
        <div class="progress-bar bg-success 6" role="progressbar" style="width: @Model.PercentAscueOk%;" data-toggle="tooltip" data-placement="top" title="Принято в ПО АСКУЭ: @Model.CountAscueOk">@Model.CountAscueOk</div>
        <div class="progress-bar bg-primary" role="progressbar" style="width: @Model.PercentAscueChecked%;" data-toggle="tooltip" data-placement="top" title="Проверено для ПО АСКУЭ: @Model.CountAscueChecked">@Model.CountAscueChecked</div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: @Model.PercentLinkOk%;" data-toggle="tooltip" data-placement="top" title="Связь проверена: @Model.CountLinkOk">@Model.CountLinkOk</div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: @Model.PercentOther%;" data-toggle="tooltip" data-placement="top" title="Остальные: @Model.CountOther">@Model.CountOther</div>
    </div>
    <div class="collapse-content">
        <hr class="p-0">
        <a class="btn " data-toggle="collapse" href="#collapseStats" aria-expanded="false" aria-controls="collapseStats">Сводная статистика</a>
        <div class="collapse" id="collapseStats">
            -
        </div>
    </div>
</div>

@* Создание подстанции кнопка *@
@if (User.IsInRole("pnr") || User.IsInRole("operator") || User.IsInRole("administrator"))
{
    <div class="btn-group btn-pageAction ml-auto" role="group">
        <button type="button" class="btn btn-light btn-rounded" data-toggle="tooltip" data-placement="top" title="Создать объект" onclick="modalToggle()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
}

@* Список подстанций *@
<div id="sTable">
    @await Html.PartialAsync("_SubstationTablePages", Model.Id)
</div>

@* Создание подстанции модальное окно *@
@if (User.IsInRole("pnr") || User.IsInRole("operator") || User.IsInRole("administrator"))
{
    <div class="modal fade" id="addSubstationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Создать новый объект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <select class="custom-select" onchange="val()" id="sType">
                        <option id="tp" value="ТП">ТП</option>
                        <option id="rp" value="РП">РП</option>
                    </select>
                    <input type="text" class="form-control" onchange="val()" id="sNumber" />
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="SendPOSTCreateSubstation()">Создать</button>
                </div>

            </div>
        </div>
    </div>
}

<script>
    //Показать/Скрыть окно добавления
    function modalToggle() {
        $('#addSubstationModal').modal('toggle');
    }

    var substationName = "";

    function clearSubstationName() {
        substationName = "";
        $('#sNumber').val('');
    }

    function val() {
        var val1 = document.getElementById("sType").value;
        var val2 = document.getElementById("sNumber").value;
        substationName = val1 + " " + val2;
    }

    function SendPOSTCreateSubstation() {
        if (substationName === '' || $("#sNumber").val() === '') return;
        $('#addSubstationModal').modal('toggle');


        var xhr = new XMLHttpRequest();
        var body = "name=" + encodeURIComponent(substationName) + "&idRegion=" + encodeURIComponent(@Model.Id);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert(xhr.responseText);
                GetTableSubstations();
            }
        }
        xhr.open("POST", '/Substation/AddSubstation', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(body);
    }

    function GetTableSubstations() {
        SubstationTablePage.getSubstationsList(0);
        //var xhr = new XMLHttpRequest();
        //xhr.onreadystatechange = function () {
        //    if (xhr.readyState === 4 && xhr.status === 200) {
        //        $('#sTable').html(xhr.responseText)
        //    }
        //}
        //xhr.open("GET", '/Substation/GetTable/@Model.Id', true);
        //xhr.send();
    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

