@using KursActWeb.ViewModels
@model List<LetterInfoInReestr>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th><input type="checkbox" /></th>
            <th scope="col">Подстанция</th>
            <th scope="col">Акт №</th>
            <th scope="col">Потребитель</th>
            <th scope="col">Юр. адрес</th>
            <th scope="col">
                <div class="d-flex">
                    <i class="fas fa-broom m-2" onclick="ClearEnergyFromActs('@Model.First().InviteDate.ToString("dd_MM_yyyy")')" data-toggle="tooltip" data-placement="top" title="Очистить все показания в актах на @Model.First().InviteDate.ToShortDateString()" style="cursor: pointer;"></i>
                    Показания
                </div>
            </th>
            <th scope="col">Track номер</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int n = 0;
            foreach (var l in Model)
            {
                var prIcoColor = (l.LetterPrinted) ? "green" : "gray";
                var rowColor = (l.LetterPrinted) ? "#f1fdef" : "";
                n++;
                <tr style="background-color:@rowColor;">
                    <th scope="row">@n @Html.Raw(l.LinkIsOkICO)</th>
                    <td><input type="checkbox" /></td>
                    <td><a href="/SubstationPage/@l.SubstationId" target="_blank">@l.SubstationName</a></td>
                    <td><a href="/RegPoint/Edit/@l.RegPointId" target="_blank">@l.RegPointId</a></td>
                    <td>@l.ConsumerName</td>
                    <td>@l.UAdress</td>
                    <td>
                        <div>T1: @l.T1</div>
                        <div>T2: @l.T2</div>
                        <div>Tsum: @l.Tsum</div>
                    </td>
                    <td><span id="trackNum_@l.LetterId">@l.TrackNumber</span> <i class="far fa-edit" style="cursor:pointer; color: orange;" data-toggle="tooltip" data-placement="top" title="Изменить Track номер" onclick="UpdateTrackNumber(@l.LetterId, '@l.TrackNumber')"></i></td>
                    <td>
                        <div>
                            <div>
                                <i class="fas fa-print" onclick="Switch_LetterPrinted(@l.LetterId)" id="LetterPrinted_@l.LetterId" style="cursor:pointer; color: @Html.Raw(prIcoColor);" data-toggle="tooltip" data-placement="top" title="Флаг 'Письмо распечатано'"></i>
                            </div>
                            <div>
                                <a href="/GetFile/GetExcel_Letter?id=@l.LetterId" data-toggle="tooltip" data-placement="top" title="Скачать письмо @l.OutNumber"><i class="fas fa-file-alt text-success"></i></a>
                            </div>
                            <div>
                                <i class="fas fa-trash-alt text-danger" onclick="DeleteLetter(@l.LetterId, '@l.OutNumber' + ' на @l.InviteDate.ToShortDateString()')" style="cursor:pointer; color: @Html.Raw(prIcoColor);" data-toggle="tooltip" data-placement="top" title="Удалить письмо"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
