@using KursActWeb.ViewModels
@model IEnumerable<(string InviteDate, int CountLetters, int CountPrinted)>

<div id="accordion">
    @{ var reestrN = 0; string reestrId = ""; }
    @foreach (var item in Model)
    {
        reestrN++;
        reestrId = "reestr" + reestrN;
        <div class="card">
            <div class="card-header" id="headingOne">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@reestrId" aria-expanded="true" aria-controls="@reestrId" onclick="LoadLettersTable('@item.InviteDate.Replace('.', '_')')">
                        <div>Дата приглашения: <strong>@item.InviteDate</strong> Распечатано/Всего: <strong>@item.CountPrinted/@item.CountLetters</strong></div>
                    </button>
                    <div class="d-flex flex-row ml-auto">
                        <button type="button" class="btn btn-link text-info btn-icon m-2 mr-3" onclick="DownloadFile(this, '/GetFile/GetExcel_RequestReestrToInsertPu?inviteDate=@item.InviteDate', 'Заявка на допуск №@item.InviteDate')">
                            <span class="spinner-border d-none" role="status" aria-hidden="true"></span>
                            <i class="fas fa-file-invoice fa-2x ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Скачать заявку на допуск №@item.InviteDate"></i>
                        </button>
                        <button type="button" class="btn btn-link text-secondary btn-icon m-2 mr-3" onclick="DownloadFile(this, '/GetFile/GetExcel_Acts?inviteDate=@item.InviteDate', 'Акт допуска @item.InviteDate')">
                            <span class="spinner-border d-none" role="status" aria-hidden="true"></span>
                            <i class="fas fa-file-invoice fa-2x ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Скачать акты допуска на @item.InviteDate"></i>
                        </button>
                        <button type="button" class="btn btn-link text-success btn-icon m-2 mr-3" onclick="DownloadFile(this, '/GetFile/GetExcel_Letters?inviteDate=@item.InviteDate', 'Письма @item.InviteDate')">
                            <span class="spinner-border d-none" role="status" aria-hidden="true"></span>
                            <i class="fas fa-file-alt fa-2x ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Скачать все письма на @item.InviteDate одним файлом"></i>
                        </button>
                        <button type="button" class="btn btn-link text-secondary btn-icon m-2 mr-3" onclick="DownloadFile(this, '/GetFile/GetExcel_LettersReestrToPostSite?inviteDate=@item.InviteDate', 'Реестры для сайта ПОЧТЫ РОССИИ @item.InviteDate')">
                            <span class="spinner-border d-none mr-2" role="status" aria-hidden="true"></span>
                            <i class="far fa-list-alt fa-2x ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Скачать реестр для сайта Почты России на @item.InviteDate"></i>
                        </button>
                        <button type="button" class="btn btn-link text-secondary btn-icon m-2 mr-3" onclick="DownloadFile(this, '/GetFile/GetExcel_TransferredReestrActsAdmission?inviteDate=@item.InviteDate', 'Реестр переданных актов допуска @item.InviteDate')">
                            <span class="spinner-border d-none" role="status" aria-hidden="true"></span>
                            <i class="fas fa-file-download fa-2x ml-1 mr-1" data-toggle="tooltip" data-placement="top" title="Скачать реестр переданных актов допуска на @item.InviteDate"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="@reestrId" class="collapse" aria-labelledby="@reestrId" data-parent="#accordion">
                <div class="card-body" id="@item.InviteDate.Replace('.', '_')">
                    
                </div>
            </div>
        </div>
    }
</div>
