@using KursActWeb.Pages;
@model PaymentReportMonthCard
<style>
    .month-head {
        margin-top: -1rem;
        margin-left: 5%;
        width: 90%;
        border-radius: 5px;
        background-color: rgb(19, 132, 177);
        box-shadow: 2px 2px 8px #0000008a;
        color: aliceblue;
        user-select: none;
    }

    .doc-icon {
        cursor: pointer;
        color: rgb(131, 131, 131);
        user-select: none;
    }

        .doc-icon:hover {
            color: rgb(36, 36, 36)
        }
</style>
<div class="card m-3 mt-4 shadow" style="width: 10rem;">
    <div class="card-head month-head text-center p-2">@Model.PeriodName</div>
    <div class="d-flex justify-content-around m-3">
        @if (Model.First.IsEnable)
        {
            <div>
                <div class="d-flex flex-column doc-icon" onclick="@Model.First.ReportIconOnClick">
                    <div style="font-size: 12px">АВАНС</div>
                    <i class="@Model.First.ReportIcon fa-3x p-1"></i>
                </div>
                <div>
                    <i class="fas fa-clipboard-list p-1"></i>@Model.First.CountAviablePU
                </div>
                <div>
                    <i class="fas fa-clipboard-check p-1 text-warning"></i>@Model.First.CountPULinkIsOk
                </div>
                @if (Model.First.CountAviableUSPD > 0)
                {
                    <div>
                        <i class="fab fa-hubspot p-1 text-warning"></i>@Model.First.CountAviableUSPD
                    </div>
                }
            </div>
        }
        @if (Model.Second.IsEnable)
        {
            <div>
                <div class="d-flex flex-column doc-icon" onclick="@Model.Second.ReportIconOnClick">
                    <div style="font-size: 12px">РАСЧЕТ</div>
                    <i class="@Model.Second.ReportIcon fa-3x p-1"></i>
                </div>
                <div>
                    <i class="fas fa-clipboard-list p-1"></i>@Model.Second.CountAviablePU
                </div>
                <div>
                    <i class="fas fa-clipboard-check p-1 text-warning"></i>@Model.Second.CountPULinkIsOk
                </div>
                @if (Model.Second.CountAviableUSPD > 0)
                {
                    <div>
                        <i class="fab fa-hubspot p-1 text-warning"></i>@Model.Second.CountAviableUSPD
                    </div>
                }
            </div>
        }
    </div>
</div>